In [1]:
import numpy as np 
import pandas as pd 
import warnings
warnings.filterwarnings(action='ignore')

## 데이터 불러오기

In [2]:
train_data = pd.read_csv("./titanic/train.csv")
test_data = pd.read_csv("./titanic/test.csv")
train_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
train_data.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

## 데이터셋 만들기

In [4]:
features = ["Pclass", "Sex", "SibSp", "Parch"]
X_train = train_data[features]
Y_train = train_data["Survived"]
x_test = test_data[features]

In [5]:
X_train = pd.get_dummies(X_train)
x_test = pd.get_dummies(x_test)

In [6]:
from sklearn.model_selection import train_test_split

# train_test_split
x_train, x_valid, y_train, y_valid = train_test_split(X_train, Y_train, test_size=0.2, stratify=Y_train, random_state=22)

x_train['Sex'] = x_train['Sex'].map( {'female': 1, 'male': 0} )
x_test['Sex'] = x_test['Sex'].map( {'female': 1, 'male': 0} )

## 모델 학습

#### RandomForestClassifier

In [7]:
from sklearn.ensemble import RandomForestClassifier

rfmodel = RandomForestClassifier(n_estimators=100, max_depth=5, random_state=1)
rfmodel.fit(x_train, y_train)
rfmodel.score(x_valid, y_valid)

0.8044692737430168

#### LGBMClassifier

In [8]:
from lightgbm import LGBMClassifier

lgbm = LGBMClassifier(n_estimators=200, learning_rate = 0.1)
evals = [(x_valid, y_valid)]
lgbm.fit(x_train, y_train, early_stopping_rounds=100, eval_metric='auc', eval_set=evals, verbose=True)
lgbm.score(x_valid, y_valid)

[1]	valid_0's auc: 0.853953	valid_0's binary_logloss: 0.625293
Training until validation scores don't improve for 100 rounds
[2]	valid_0's auc: 0.853953	valid_0's binary_logloss: 0.592298
[3]	valid_0's auc: 0.853953	valid_0's binary_logloss: 0.565443
[4]	valid_0's auc: 0.853953	valid_0's binary_logloss: 0.543275
[5]	valid_0's auc: 0.855731	valid_0's binary_logloss: 0.523451
[6]	valid_0's auc: 0.856785	valid_0's binary_logloss: 0.50643
[7]	valid_0's auc: 0.857839	valid_0's binary_logloss: 0.492187
[8]	valid_0's auc: 0.861001	valid_0's binary_logloss: 0.480001
[9]	valid_0's auc: 0.85863	valid_0's binary_logloss: 0.470512
[10]	valid_0's auc: 0.861001	valid_0's binary_logloss: 0.461388
[11]	valid_0's auc: 0.85863	valid_0's binary_logloss: 0.45449
[12]	valid_0's auc: 0.854677	valid_0's binary_logloss: 0.448653
[13]	valid_0's auc: 0.858103	valid_0's binary_logloss: 0.44254
[14]	valid_0's auc: 0.858169	valid_0's binary_logloss: 0.437311
[15]	valid_0's auc: 0.859223	valid_0's binary_logloss: 0.432655
[16]	valid_0's auc: 0.859354	valid_0's binary_logloss: 0.429117
[17]	valid_0's auc: 0.85639	valid_0's binary_logloss: 0.425773
[18]	valid_0's auc: 0.855863	valid_0's binary_logloss: 0.422855
[19]	valid_0's auc: 0.855863	valid_0's binary_logloss: 0.420535
[20]	valid_0's auc: 0.85751	valid_0's binary_logloss: 0.419739
[21]	valid_0's auc: 0.856588	valid_0's binary_logloss: 0.419196
[22]	valid_0's auc: 0.856588	valid_0's binary_logloss: 0.41886
[23]	valid_0's auc: 0.856258	valid_0's binary_logloss: 0.419462
[24]	valid_0's auc: 0.856522	valid_0's binary_logloss: 0.419414
[25]	valid_0's auc: 0.850593	valid_0's binary_logloss: 0.420053
[26]	valid_0's auc: 0.849802	valid_0's binary_logloss: 0.420804
[27]	valid_0's auc: 0.84888	valid_0's binary_logloss: 0.421825
[28]	valid_0's auc: 0.848682	valid_0's binary_logloss: 0.422083
[29]	valid_0's auc: 0.849473	valid_0's binary_logloss: 0.422386
[30]	valid_0's auc: 0.849473	valid_0's binary_logloss: 0.423409
[31]	valid_0's auc: 0.849078	valid_0's binary_logloss: 0.423731
[32]	valid_0's auc: 0.848946	valid_0's binary_logloss: 0.423692
[33]	valid_0's auc: 0.847233	valid_0's binary_logloss: 0.424067
[34]	valid_0's auc: 0.846047	valid_0's binary_logloss: 0.424454
[35]	valid_0's auc: 0.84697	valid_0's binary_logloss: 0.424767
[36]	valid_0's auc: 0.846838	valid_0's binary_logloss: 0.425159
[37]	valid_0's auc: 0.841963	valid_0's binary_logloss: 0.427906
[38]	valid_0's auc: 0.841568	valid_0's binary_logloss: 0.42787
[39]	valid_0's auc: 0.841568	valid_0's binary_logloss: 0.428225
[40]	valid_0's auc: 0.841173	valid_0's binary_logloss: 0.428566
[41]	valid_0's auc: 0.839196	valid_0's binary_logloss: 0.428603
[42]	valid_0's auc: 0.839065	valid_0's binary_logloss: 0.428727
[43]	valid_0's auc: 0.838669	valid_0's binary_logloss: 0.431653
[44]	valid_0's auc: 0.839328	valid_0's binary_logloss: 0.431818
[45]	valid_0's auc: 0.838669	valid_0's binary_logloss: 0.434165
[46]	valid_0's auc: 0.838406	valid_0's binary_logloss: 0.434312
[47]	valid_0's auc: 0.838406	valid_0's binary_logloss: 0.434418
[48]	valid_0's auc: 0.838406	valid_0's binary_logloss: 0.434631
[49]	valid_0's auc: 0.838406	valid_0's binary_logloss: 0.434959
[50]	valid_0's auc: 0.838406	valid_0's binary_logloss: 0.435174
[51]	valid_0's auc: 0.838406	valid_0's binary_logloss: 0.437335
[52]	valid_0's auc: 0.838011	valid_0's binary_logloss: 0.43936
[53]	valid_0's auc: 0.838406	valid_0's binary_logloss: 0.439246
[54]	valid_0's auc: 0.835244	valid_0's binary_logloss: 0.440864
[55]	valid_0's auc: 0.834848	valid_0's binary_logloss: 0.440958
[56]	valid_0's auc: 0.834848	valid_0's binary_logloss: 0.442753
[57]	valid_0's auc: 0.834848	valid_0's binary_logloss: 0.444417
[58]	valid_0's auc: 0.83643	valid_0's binary_logloss: 0.444414
[59]	valid_0's auc: 0.836693	valid_0's binary_logloss: 0.445733
[60]	valid_0's auc: 0.836561	valid_0's binary_logloss: 0.445865
[61]	valid_0's auc: 0.836693	valid_0's binary_logloss: 0.447102
[62]	valid_0's auc: 0.836561	valid_0's binary_logloss: 0.447411
[63]	valid_0's auc: 0.836693	valid_0's binary_logloss: 0.448565
[64]	valid_0's auc: 0.836693	valid_0's binary_logloss: 0.448655
[65]	valid_0's auc: 0.836561	valid_0's binary_logloss: 0.449728
[66]	valid_0's auc: 0.836561	valid_0's binary_logloss: 0.450591
[67]	valid_0's auc: 0.836561	valid_0's binary_logloss: 0.451466
[68]	valid_0's auc: 0.836561	valid_0's binary_logloss: 0.451525
[69]	valid_0's auc: 0.83643	valid_0's binary_logloss: 0.452272
[70]	valid_0's auc: 0.83643	valid_0's binary_logloss: 0.453987
[71]	valid_0's auc: 0.83643	valid_0's binary_logloss: 0.454192
[72]	valid_0's auc: 0.836693	valid_0's binary_logloss: 0.455788
[73]	valid_0's auc: 0.837352	valid_0's binary_logloss: 0.456418
[74]	valid_0's auc: 0.836034	valid_0's binary_logloss: 0.456889
[75]	valid_0's auc: 0.836561	valid_0's binary_logloss: 0.457555
[76]	valid_0's auc: 0.836034	valid_0's binary_logloss: 0.458187
[77]	valid_0's auc: 0.835639	valid_0's binary_logloss: 0.458761
[78]	valid_0's auc: 0.835639	valid_0's binary_logloss: 0.458662
[79]	valid_0's auc: 0.835639	valid_0's binary_logloss: 0.458695
[80]	valid_0's auc: 0.835639	valid_0's binary_logloss: 0.459177
[81]	valid_0's auc: 0.835375	valid_0's binary_logloss: 0.459551
[82]	valid_0's auc: 0.835375	valid_0's binary_logloss: 0.460055
[83]	valid_0's auc: 0.835639	valid_0's binary_logloss: 0.461777
[84]	valid_0's auc: 0.835639	valid_0's binary_logloss: 0.462172
[85]	valid_0's auc: 0.835507	valid_0's binary_logloss: 0.462308
[86]	valid_0's auc: 0.83498	valid_0's binary_logloss: 0.462607
[87]	valid_0's auc: 0.833399	valid_0's binary_logloss: 0.464048
[88]	valid_0's auc: 0.833399	valid_0's binary_logloss: 0.464116
[89]	valid_0's auc: 0.833399	valid_0's binary_logloss: 0.464363
[90]	valid_0's auc: 0.833399	valid_0's binary_logloss: 0.46466
[91]	valid_0's auc: 0.833004	valid_0's binary_logloss: 0.464915
[92]	valid_0's auc: 0.833004	valid_0's binary_logloss: 0.465124
[93]	valid_0's auc: 0.83274	valid_0's binary_logloss: 0.465937
[94]	valid_0's auc: 0.833136	valid_0's binary_logloss: 0.466799
[95]	valid_0's auc: 0.833004	valid_0's binary_logloss: 0.467574
[96]	valid_0's auc: 0.833267	valid_0's binary_logloss: 0.468266
[97]	valid_0's auc: 0.83498	valid_0's binary_logloss: 0.469217
[98]	valid_0's auc: 0.83498	valid_0's binary_logloss: 0.469391
[99]	valid_0's auc: 0.834848	valid_0's binary_logloss: 0.469907
[100]	valid_0's auc: 0.834848	valid_0's binary_logloss: 0.470152
[101]	valid_0's auc: 0.834848	valid_0's binary_logloss: 0.470801
[102]	valid_0's auc: 0.834453	valid_0's binary_logloss: 0.471082
[103]	valid_0's auc: 0.834453	valid_0's binary_logloss: 0.471663
[104]	valid_0's auc: 0.827339	valid_0's binary_logloss: 0.472203
[105]	valid_0's auc: 0.834321	valid_0's binary_logloss: 0.472344
[106]	valid_0's auc: 0.827339	valid_0's binary_logloss: 0.472611
[107]	valid_0's auc: 0.834321	valid_0's binary_logloss: 0.473144
[108]	valid_0's auc: 0.834453	valid_0's binary_logloss: 0.473302
Early stopping, best iteration is:
[8]	valid_0's auc: 0.861001	valid_0's binary_logloss: 0.480001

0.8435754189944135

#### ExtraTreesClassifier

In [9]:
from sklearn.ensemble import ExtraTreesClassifier
etree = ExtraTreesClassifier(n_estimators=100, max_depth=5, random_state=1)
etree.fit(x_train, y_train)
etree.score(x_valid, y_valid)

0.7988826815642458

#### GradientBoostingClassifier

In [10]:
from sklearn.ensemble import GradientBoostingClassifier
gboost = GradientBoostingClassifier()
gboost.fit(x_train, y_train)
gboost.score(x_valid, y_valid)

0.7877094972067039

### Voting

In [11]:
from sklearn.ensemble import VotingClassifier

votingC = VotingClassifier(estimators=[('rfc', rfmodel), ('lgbc', lgbm), ('extc', etree), ('gbc',gboost)], voting='soft', n_jobs=4)

votingC = votingC.fit(X_train, Y_train)

## 예측 및 제출

In [12]:
predictions = votingC.predict(x_test)
predictions

array([0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0,
       1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1,
       1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1,
       1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1,
       1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1,
       0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1,
       1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1,
       0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0,
       1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1,
       0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0,
       0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0,
       0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0,
       1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1,
       0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0],
      dtype=int64)

In [13]:
submit = pd.read_csv("./titanic/gender_submission.csv")
submit

     PassengerId  Survived
0            892         0
1            893         1
2            894         0
3            895         0
4            896         1
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]

In [14]:
submit['Survived'] = predictions
submit

     PassengerId  Survived
0            892         0
1            893         1
2            894         0
3            895         0
4            896         1
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]

In [ ]:
submit.to_csv('submission1.csv', index=False)