In [2]:
import numpy as np 
import pandas as pd

## 데이터 불러오기

In [22]:
train_data = pd.read_csv("./titanic/train.csv")
test_data = pd.read_csv("./titanic/test.csv")
train_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

## 데이터셋 만들기

In [23]:
features = ["Pclass", "Sex", "SibSp", "Parch"]
x_train = train_data[features]
y_train = train_data["Survived"]
x_test = test_data[features]

In [4]:
x_train = pd.get_dummies(x_train)
x_test = pd.get_dummies(x_test)

x_train['Sex'] = x_train['Sex'].map( {'female': 1, 'male': 0} )
x_test['Sex'] = x_test['Sex'].map( {'female': 1, 'male': 0} )

## 모델 학습

In [6]:
from sklearn.ensemble import RandomForestClassifier

model = RandomForestClassifier(random_state=1)
model.fit(x_train, y_train)
model.score(x_train, y_train)

0.8170594837261503

## 예측 및 제출

In [ ]:
predictions = model.predict(x_test)
predictions

In [ ]:
submit = pd.read_csv("./titanic/gender_submission.csv")
submit

In [ ]:
submit['Survived'] = predictions
submit

In [ ]:
submit.to_csv('submission1.csv', index=False)

## 범주형 데이터의 수치형 데이터로 변환 방법

In [8]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [24]:
train_data['Sex'].value_counts()

male      577
female    314
Name: Sex, dtype: int64

In [25]:
train_data['Sex'].unique()

array(['male', 'female'], dtype=object)

## LabelEncoder vs OneHotEncoder

- LabelEncoder

In [26]:
train_data['nSex'] = train_data['Sex'].astype('category').cat.codes
train_data['nSex']

0      1
1      0
2      0
3      0
4      1
      ..
886    1
887    0
888    0
889    1
890    1
Name: nSex, Length: 891, dtype: int8

In [27]:
train_data['nSex'] = train_data['Sex'].map({'male':0, 'female':1})
train_data['nSex']

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    1
889    0
890    0
Name: nSex, Length: 891, dtype: int64

In [18]:
def changeNumericSex(x):
    if x == 'male':
        return 0
    else:
        return 1
    
train_data['nSex'] = train_data['Sex'].apply(changeNumericSex)
train_data['nSex']

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    1
889    0
890    0
Name: nSex, Length: 891, dtype: int64

In [19]:
from sklearn.preprocessing import LabelEncoder

encoder = LabelEncoder()
encoder.fit(train_data['Sex'])
train_data['nSex'] = encoder.transform(train_data['Sex'])
train_data['nSex']

0      1
1      0
2      0
3      0
4      1
      ..
886    1
887    0
888    0
889    1
890    1
Name: nSex, Length: 891, dtype: int32

- OneHotEncoder

In [28]:
result = pd.get_dummies(train_data['Sex'])
result

     female  male
0         0     1
1         1     0
2         1     0
3         1     0
4         0     1
..      ...   ...
886       0     1
887       1     0
888       1     0
889       0     1
890       0     1

[891 rows x 2 columns]

In [36]:
from sklearn.preprocessing import OneHotEncoder

encoder = OneHotEncoder()
encoder.fit(train_data[['Sex']])
result = encoder.transform(train_data[['Sex']]).toarray()
result

array([[0., 1.],
       [1., 0.],
       [1., 0.],
       ...,
       [1., 0.],
       [0., 1.],
       [0., 1.]])

## Ex

In [67]:
df_train = pd.DataFrame({'season':['winter', 'spring', 'fall', 'winter', 'summer', 'fall', 'spring']})
df_test = pd.DataFrame({'season':['winter', 'spring', 'fall', 'winter', 'spring', 'fall', 'spring']})
df_train

   season
0  winter
1  spring
2    fall
3  winter
4  summer
5    fall
6  spring

In [41]:
df_train['nseason'] = df_train['season'].astype('category').cat.codes
df_train['nseason']

0    3
1    1
2    0
3    3
4    2
5    0
6    1
Name: nseason, dtype: int8

In [42]:
df_test

   season
0  winter
1  spring
2    fall
3  winter
4  spring
5    fall
6  spring

In [43]:
df_test['nseason'] = df_test['season'].astype('category').cat.codes
df_test['nseason']

0    2
1    1
2    0
3    2
4    1
5    0
6    1
Name: nseason, dtype: int8

In [44]:
from sklearn.preprocessing import LabelEncoder

encoder = LabelEncoder()
encoder.fit(df_train['season'])
df_train['nseason'] = encoder.transform(df_train['season'])
df_test['nseason'] = encoder.transform(df_test['season'])
df_train['nseason'], df_test['nseason']

(0    3
 1    1
 2    0
 3    3
 4    2
 5    0
 6    1
 Name: nseason, dtype: int32,
 0    3
 1    1
 2    0
 3    3
 4    1
 5    0
 6    1
 Name: nseason, dtype: int32)

In [54]:
split_pos = df_train.shape[0]
df_total = pd.concat([df_train, df_test], ignore_index=True)
df_total

    season  nseason
0   winter        3
1   spring        1
2     fall        0
3   winter        3
4   summer        2
5     fall        0
6   spring        1
7   winter        3
8   spring        1
9     fall        0
10  winter        3
11  spring        1
12    fall        0
13  spring        1

In [55]:
df_total.drop(columns='nseason', inplace=True)
df_total

    season
0   winter
1   spring
2     fall
3   winter
4   summer
5     fall
6   spring
7   winter
8   spring
9     fall
10  winter
11  spring
12    fall
13  spring

In [56]:
df_total['nseason'] = df_total['season'].astype('category').cat.codes
df_total

    season  nseason
0   winter        3
1   spring        1
2     fall        0
3   winter        3
4   summer        2
5     fall        0
6   spring        1
7   winter        3
8   spring        1
9     fall        0
10  winter        3
11  spring        1
12    fall        0
13  spring        1

In [61]:
df_train = df_total[:split_pos]
df_test = df_total[split_pos:].reset_index(drop=True)
df_train

   season  nseason
0  winter        3
1  spring        1
2    fall        0
3  winter        3
4  summer        2
5    fall        0
6  spring        1

In [62]:
df_test

   season  nseason
0  winter        3
1  spring        1
2    fall        0
3  winter        3
4  spring        1
5    fall        0
6  spring        1